# Base16 {{scheme-name}}
# Author: {{scheme-author}}

ec prompt rgb:{{base08-hex}}
ec swi rgb:{{base08-hex}}

ec b0x00 rgb:{{base02-hex}}
ec b0x7f rgb:{{base03-hex}}
ec b0xff rgb:{{base03-hex}}
ec btext rgb:{{base0D-hex}}
ec other rgb:{{base05-hex}}

ec push rgb:{{base0E-hex}}
ec pop rgb:{{base0E-hex}}

ec bin rgb:{{base0D-hex}}
ec math rgb:{{base0D-hex}}
ec mov rgb:{{base0D-hex}}
ec call rgb:{{base0A-hex}}
ec cjmp rgb:{{base0C-hex}}
ec jmp rgb:{{base0C-hex}}
ec cmp rgb:{{base0D-hex}}
ec ret rgb:{{base0D-hex}}
ec nop rgb:{{base02-hex}}

ec reg rgb:{{base08-hex}}
ec creg rgb:{{base09-hex}}

ec num rgb:{{base09-hex}}
ec fline rgb:{{base0A-hex}}
ec fname rgb:{{base0A-hex}}
ec flow rgb:{{base04-hex}}
ec flow2 rgb:{{base04-hex}}
ec label rgb:{{base0B-hex}}
ec offset rgb:{{base0E-hex}}
ec trap rgb:{{base0B-hex}}
ec flag rgb:{{base0E-hex}}
ec args rgb:{{base0B-hex}}
ec invalid rgb:{{base08-hex}}
ec help rgb:{{base0B-hex}}

ec input rgb:{{base05-hex}}
ec comment rgb:{{base03-hex}}
ec usrcmt rgb:{{base05-hex}}

ec ai.read rgb:{{base09-hex}}
ec ai.write rgb:{{base0A-hex}}
ec ai.exec rgb:{{base0A-hex}}
ec ai.seq rgb:{{base0A-hex}}
ec ai.ascii rgb:{{base0B-hex}}

ec graph.true rgb:{{base0B-hex}}
ec graph.trufae rgb:{{base0B-hex}}
ec graph.false rgb:{{base08-hex}}
ec graph.current rgb:{{base05-hex}}
ec graph.traced rgb:{{base0A-hex}}
ec graph.box rgb:{{base0C-hex}}
ec graph.box2 rgb:{{base0D-hex}}
ec graph.box3 rgb:{{base0D-hex}}
ec graph.box4 rgb:{{base0D-hex}}
