@define-color base_color #{{themix_TXT_BG-hex}};
@define-color text_color #{{themix_TXT_FG-hex}};
@define-color bg_color #{{themix_BG-hex}};
@define-color fg_color #{{themix_FG-hex}};
@define-color selected_bg_color #{{themix_SEL_BG-hex}};
@define-color selected_fg_color #{{themix_SEL_FG-hex}};
@define-color selected_borders_color rgba({{themix_SEL_BG-rgb-r}}, {{themix_SEL_BG-rgb-g}}, {{themix_SEL_BG-rgb-b}}, 0.7);
@define-color borders_color rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.80);
@define-color alt_borders_color rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.89);
@define-color borders_edge rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.50);
@define-color link_color #{{themix_TERMINAL_COLOR4-hex}};
@define-color link_visited_color #{{themix_TERMINAL_COLOR5-hex}};
@define-color top_hilight rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.50);
@define-color dark_fill rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.70);
@define-color headerbar_bg_color #{{themix_MENU_BG-hex}};
@define-color menu_color #{{themix_MENU_BG-hex}};
@define-color menu_selected_color #{{themix_SEL_BG-hex}};
@define-color scrollbar_bg_color rgba({{themix_TXT_BG-rgb-r}}, {{themix_TXT_BG-rgb-g}}, {{themix_TXT_BG-rgb-b}}, 0.7);
@define-color scrollbar_slider_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.7);
@define-color scrollbar_slider_hover_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.89);
@define-color scrollbar_slider_active_color #{{themix_SEL_BG-hex}};
@define-color warning_color #{{themix_TERMINAL_COLOR3-hex}};
@define-color error_color #{{themix_TERMINAL_COLOR9-hex}};
@define-color success_color #{{themix_TERMINAL_COLOR10-hex}};
@define-color destructive_color #{{themix_TERMINAL_COLOR1-hex}};
@define-color osd_fg_color #{{themix_MENU_FG-hex}};
@define-color osd_text_color #{{themix_MENU_FG-hex}};
@define-color osd_bg_color rgba({{themix_MENU_BG-rgb-r}}, {{themix_MENU_BG-rgb-g}}, {{themix_MENU_BG-rgb-b}}, 0.7);
@define-color osd_insensitive_bg_color rgba({{themix_MENU_BG-rgb-r}}, {{themix_MENU_BG-rgb-g}}, {{themix_MENU_BG-rgb-b}}, 0.5);
@define-color osd_insensitive_fg_color #{{themix_MENU_FG-hex}};
@define-color osd_borders_color rgba({{themix_MENU_FG-rgb-r}}, {{themix_MENU_FG-rgb-g}}, {{themix_MENU_FG-rgb-b}}, 0.7);
@define-color sidebar_bg_color #{{themix_TXT_BG-hex}};
@define-color tooltip_borders_color rgba({{themix_MENU_FG-rgb-r}}, {{themix_MENU_FG-rgb-g}}, {{themix_MENU_FG-rgb-b}}, 0.1);
@define-color shadow_color rgba(0, 0, 0, 0.1);
@define-color drop_target_color #2ec27e;
@define-color insensitive_fg_color rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.50);
@define-color insensitive_bg_color rgba({{themix_BG-rgb-r}}, {{themix_BG-rgb-g}}, {{themix_BG-rgb-b}}, 0.50);
@define-color insensitive_borders_color rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.70);
@define-color backdrop_base_color rgba({{themix_TXT_BG-rgb-r}}, {{themix_TXT_BG-rgb-g}}, {{themix_TXT_BG-rgb-b}}, 0.89);
@define-color backdrop_text_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.89);
@define-color backdrop_bg_color rgba({{themix_BG-rgb-r}}, {{themix_BG-rgb-g}}, {{themix_BG-rgb-b}}, 0.89);
@define-color backdrop_fg_color rgba({{themix_FG-rgb-r}}, {{themix_FG-rgb-g}}, {{themix_FG-rgb-b}}, 0.89);
@define-color window_bg_color #{{themix_BG-hex}};
@define-color window_fg_color #{{themix_FG-hex}};
@define-color backdrop_insensitive_color #d4cfca;
@define-color backdrop_selected_fg_color #fcfcfc;
@define-color backdrop_borders_color #d5d0cc;
@define-color backdrop_dark_fill #eae8e6;
@define-color suggested_bg_color #{{themix_SEL_BG-hex}};
@define-color suggested_border_color rgba({{themix_SEL_FG-rgb-r}}, {{themix_SEL_FG-rgb-g}}, {{themix_SEL_FG-rgb-b}}, 0.5);
@define-color progress_bg_color #{{themix_SEL_BG-hex}};
@define-color progress_border_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.89);
@define-color checkradio_bg_color #{{themix_TXT_BG-hex}};
@define-color checkradio_fg_color #{{themix_ACCENT_BG-hex}};
@define-color checkradio_borders_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.89);
@define-color switch_bg_color #{{themix_SEL_BG-hex}};
@define-color switch_borders_color rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.80);
@define-color focus_border_color rgba({{themix_SEL_BG-rgb-r}}, {{themix_SEL_BG-rgb-g}}, {{themix_SEL_BG-rgb-b}}, 0.5);
@define-color alt_focus_border_color rgba({{themix_BG-rgb-r}}, {{themix_BG-rgb-g}}, {{themix_BG-rgb-b}}, 0.8);
@define-color dim_label_opacity 0.55;

/*button { color: #{{themix_BTN_FG-hex}}; outline-color: rgba(53, 132, 228, 0.5); border-color: #cdc7c2; background-image: linear-gradient(to top, #{{themix_BTN_BG-hex}} 2px, #{{themix_BTN_BG-hex}}); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }*/
/*button:hover { color: #{{themix_BTN_FG-hex}}; border-color: #cdc7c2; background-image: linear-gradient(to top, rgba(#{{themix_BTN_BG-r}}, #{{themix_BTN_BG-g}}, #{{themix_BTN_BG-b}}, 0.89), rgba(#{{themix_BTN_BG-r}}, #{{themix_BTN_BG-g}}, #{{themix_BTN_BG-b}}, 0.89) 1px); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }*/

/*button { color: #{{themix_BTN_FG-hex}}; outline-color: #{{themix_SEL_BG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(#{{themix_BTN_BG-hex}}); box-shadow: none; text-shadow: none; }*/
/*button:hover { color: #{{themix_BTN_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.89)); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }*/

/*button:checked { color: #{{themix_SEL_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(#{{themix_SEL_BG-hex}}); box-shadow: none; }*/
/*button:checked:hover { color: #{{themix_SEL_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_SEL_BG-rgb-r}}, {{themix_SEL_BG-rgb-g}}, {{themix_SEL_BG-rgb-b}}, 0.89)); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }*/
/*button:checked:active { color: #{{themix_SEL_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(#{{themix_SEL_BG-hex}}); box-shadow: none; }*/

button { color: #{{themix_BTN_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.89)); box-shadow: none; }
button:active { color: #{{themix_BTN_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.89)); box-shadow: none; }
button:insensitive { color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.70); border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.40)); box-shadow: none; }
button:insensitive:active { color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.89); border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.49)); box-shadow: none; }

button:backdrop { color: #{{themix_BTN_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.89)); box-shadow: none; }
button:backdrop:active { color: #{{themix_BTN_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.32); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.89)); box-shadow: none; }
button:backdrop:insensitive { color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.70); border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.40)); box-shadow: none; }
button:backdrop:insensitive:active { color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.89); border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.49)); box-shadow: none; }

button:disabled { color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.80); border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_BTN_BG-rgb-r}}, {{themix_BTN_BG-rgb-g}}, {{themix_BTN_BG-rgb-b}}, 0.50)); }
button:disabled:active { color: #{{themix_SEL_FG-hex}}; border-color: rgba({{themix_BTN_FG-rgb-r}}, {{themix_BTN_FG-rgb-g}}, {{themix_BTN_FG-rgb-b}}, 0.22); background-image: image(rgba({{themix_SEL_BG-rgb-r}}, {{themix_SEL_BG-rgb-g}}, {{themix_SEL_BG-rgb-b}}, 0.50)); box-shadow: none; }


checkradio { background-clip: padding-box; background-image: image(#{{themix_TXT_BG-hex}}); border-color: rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.80); box-shadow: none; color: #{{themix_ACCENT_BG-hex}}; }
checkradio:hover { background-image: image(rgba({{themix_ACCENT_BG-rgb-r}}, {{themix_ACCENT_BG-rgb-g}}, {{themix_ACCENT_BG-rgb-b}}, 0.22)); }
checkradio:active { box-shadow: inset 0 1px rgba(0, 0, 0, 0.2); background-image: image(#{{themix_SEL_FG-hex}}); }
checkradio:disabled { box-shadow: none; color: rgba({{themix_TXT_BG-rgb-r}}, {{themix_TXT_BG-rgb-g}}, {{themix_TXT_BG-rgb-b}}, 0.50); }

checkradio:checked { background-clip: border-box; background-image: image(#{{themix_ACCENT_BG-hex}}); border-color: rgba({{themix_TXT_FG-rgb-r}}, {{themix_TXT_FG-rgb-g}}, {{themix_TXT_FG-rgb-b}}, 0.80); box-shadow: none; color: #{{themix_SEL_FG-hex}}; }
checkradio:checked:hover { background-image: image(rgba({{themix_ACCENT_BG-rgb-r}}, {{themix_ACCENT_BG-rgb-g}}, {{themix_ACCENT_BG-rgb-b}}, 0.89)); }
checkradio:checked:active { box-shadow: inset 0 1px rgba(0, 0, 0, 0.2); background-image: image(#{{themix_SEL_BG-hex}}); }
checkradio:checked:disabled { box-shadow: none; color: rgba({{themix_SEL_BG-rgb-r}}, {{themix_SEL_BG-rgb-g}}, {{themix_SEL_BG-rgb-b}}, 0.7); }

/* vim: set ft=css:*/
