[Desktop Entry]
Type=X-GNOME-Metatheme
Name={{scheme-slug}}
Comment=Generated with Themix Base16 plugin
Encoding=UTF-8

[X-GNOME-Metatheme]
Name={{scheme-slug}}
GtkTheme={{scheme-slug}}
IconTheme={{scheme-slug}}
MetacityTheme={{scheme-slug}}
