[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundNormal={{themix_BTN_BG-rgb-r}},{{themix_BTN_BG-rgb-g}},{{themix_BTN_BG-rgb-b}}
ForegroundNormal={{themix_BTN_FG-rgb-r}},{{themix_BTN_FG-rgb-g}},{{themix_BTN_FG-rgb-b}}
BackgroundAlternate={{themix_BTN_BG-rgb-r}},{{themix_BTN_BG-rgb-g}},{{themix_BTN_BG-rgb-b}}
DecorationFocus={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
DecorationHover={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundActive={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundInactive=127,140,141
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=127,140,141

[Colors:Complementary]
BackgroundAlternate=59,64,69
BackgroundNormal=49,54,59
DecorationFocus={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
DecorationHover={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundActive={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundInactive=175,176,179
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
ForegroundNormal=239,240,241
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=61,174,230

[Colors:Selection]
BackgroundNormal={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundNormal={{themix_SEL_FG-rgb-r}},{{themix_SEL_FG-rgb-g}},{{themix_SEL_FG-rgb-b}}
BackgroundAlternate=255,0,0
DecorationFocus=0,255,0
DecorationHover=0,0,255
ForegroundActive=252,0,0
ForegroundInactive=0,240,0
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=189,195,0

[Colors:Tooltip]
BackgroundAlternate={{themix_BG-rgb-r}},{{themix_BG-rgb-g}},{{themix_BG-rgb-b}}
BackgroundNormal={{themix_MENU_BG-rgb-r}},{{themix_MENU_BG-rgb-g}},{{themix_MENU_BG-rgb-b}}
DecorationFocus={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
DecorationHover={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundActive={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundInactive=189,195,199
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
BackgroundNormal={{themix_MENU_FG-rgb-r}},{{themix_MENU_FG-rgb-g}},{{themix_MENU_FG-rgb-b}}
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=127,140,141

[Colors:View]
BackgroundAlternate={{themix_BG-rgb-r}},{{themix_BG-rgb-g}},{{themix_BG-rgb-b}}
BackgroundNormal={{themix_TXT_BG-rgb-r}},{{themix_TXT_BG-rgb-g}},{{themix_TXT_BG-rgb-b}}
DecorationFocus={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
DecorationHover={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundActive={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundInactive=127,140,141
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
ForegroundNormal={{themix_TXT_FG-rgb-r}},{{themix_TXT_FG-rgb-g}},{{themix_TXT_FG-rgb-b}}
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=127,140,141

[Colors:Window]
BackgroundAlternate={{themix_TXT_BG-rgb-r}},{{themix_TXT_BG-rgb-g}},{{themix_TXT_BG-rgb-b}}
BackgroundNormal={{themix_BG-rgb-r}},{{themix_BG-rgb-g}},{{themix_BG-rgb-b}}
DecorationFocus={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
DecorationHover={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundActive={{themix_SEL_BG-rgb-r}},{{themix_SEL_BG-rgb-g}},{{themix_SEL_BG-rgb-b}}
ForegroundInactive=127,140,141
ForegroundLink={{themix_TERMINAL_COLOR4-rgb-r}},{{themix_TERMINAL_COLOR4-rgb-g}},{{themix_TERMINAL_COLOR4-rgb-b}}
ForegroundNegative={{themix_TERMINAL_COLOR1-rgb-r}},{{themix_TERMINAL_COLOR1-rgb-g}},{{themix_TERMINAL_COLOR1-rgb-b}}
ForegroundNeutral={{themix_TERMINAL_COLOR3-rgb-r}},{{themix_TERMINAL_COLOR3-rgb-g}},{{themix_TERMINAL_COLOR3-rgb-b}}
ForegroundNormal={{themix_FG-rgb-r}},{{themix_FG-rgb-g}},{{themix_FG-rgb-b}}
ForegroundPositive={{themix_TERMINAL_COLOR2-rgb-r}},{{themix_TERMINAL_COLOR2-rgb-g}},{{themix_TERMINAL_COLOR2-rgb-b}}
ForegroundVisited=127,140,141

[General]
ColorScheme=Breeze
Name={{scheme-name}}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBlend={{themix_WM_BORDER_FOCUS-rgb-r}},{{themix_WM_BORDER_FOCUS-rgb-g}},{{themix_WM_BORDER_FOCUS-rgb-b}}
activeBackground={{themix_HDR_BG-rgb-r}},{{themix_HDR_BG-rgb-g}},{{themix_HDR_BG-rgb-b}}
activeForeground={{themix_HDR_FG-rgb-r}},{{themix_HDR_FG-rgb-g}},{{themix_HDR_FG-rgb-b}}
inactiveBlend={{themix_WM_BORDER_UNFOCUS-rgb-r}},{{themix_WM_BORDER_UNFOCUS-rgb-g}},{{themix_WM_BORDER_UNFOCUS-rgb-b}}
inactiveBackground={{themix_HDR_BG-rgb-r}},{{themix_HDR_BG-rgb-g}},{{themix_HDR_BG-rgb-b}}
inactiveForeground={{themix_HDR_FG-rgb-r}},{{themix_HDR_FG-rgb-g}},{{themix_HDR_FG-rgb-b}}

# ~/.local/share/color-schemes/
