-- Base16 {{scheme-name}} - wezterm color config
-- Scheme by {{scheme-author}}

config.colors = {
  foreground    = "#{{themix_TERMINAL_FOREGROUND-hex}}",
  background    = "#{{themix_TERMINAL_BACKGROUND-hex}}",
  cursor_bg     = "#{{themix_TERMINAL_CURSOR-hex}}",
  cursor_border = "#{{themix_TERMINAL_FOREGROUND-hex}}",
  cursor_fg     = "#{{themix_TERMINAL_BACKGROUND-hex}}",
  selection_bg  = "#{{themix_TERMINAL_CURSOR-hex}}",
  selection_fg  = "#{{themix_TERMINAL_BACKGROUND-hex}}",

  ansi = {
    "#{{themix_TERMINAL_COLOR0-hex}}",
    "#{{themix_TERMINAL_COLOR1-hex}}",
    "#{{themix_TERMINAL_COLOR2-hex}}",
    "#{{themix_TERMINAL_COLOR3-hex}}",
    "#{{themix_TERMINAL_COLOR4-hex}}",
    "#{{themix_TERMINAL_COLOR5-hex}}",
    "#{{themix_TERMINAL_COLOR6-hex}}",
    "#{{themix_TERMINAL_COLOR7-hex}}",
  },

  brights = {
    "#{{themix_TERMINAL_COLOR8-hex}}",
    "#{{themix_TERMINAL_COLOR9-hex}}",
    "#{{themix_TERMINAL_COLOR10-hex}}",
    "#{{themix_TERMINAL_COLOR11-hex}}",
    "#{{themix_TERMINAL_COLOR12-hex}}",
    "#{{themix_TERMINAL_COLOR13-hex}}",
    "#{{themix_TERMINAL_COLOR14-hex}}",
    "#{{themix_TERMINAL_COLOR15-hex}}",
  }
}
