# Qt5ct colors: FG                           BTN_BG              bright              less_bright         dark                    less_dark               txt_fg                           br_text                          BTN_FG                       txt_bg                  bg                  shadow                  sel_bg                  sel_fg                  link                    visited                      alt_bg             default                       tooltip_bg              tooltip_fg
[ColorScheme]
  active_colors=#{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_TXT_FG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_FG-hex}},          #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_FG-hex}},          #{{themix_HDR_BG-hex}}, #{{themix_HDR_FG-hex}}
disabled_colors=#{{themix_INACTIVE_FG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_INACTIVE_TXT_FG-hex}}, #{{themix_INACTIVE_TXT_FG-hex}}, #{{themix_INACTIVE_FG-hex}}, #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_INACTIVE_FG-hex}}, #{{themix_BG-hex}}, #{{themix_INACTIVE_FG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_INACTIVE_HDR_FG-hex}}
inactive_colors=#{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_TXT_FG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_FG-hex}},          #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_FG-hex}},          #{{themix_HDR_BG-hex}}, #{{themix_HDR_FG-hex}}
