{
    "name": "base16-{{scheme-slug}}",
    "background": "#{{themix_TERMINAL_BACKGROUND-hex}}",
    "foreground": "#{{themix_TERMINAL_FOREGROUND-hex}}",
    "selectionBackground": "#{{themix_TERMINAL_CURSOR-hex}}",
    "black": "#{{themix_TERMINAL_COLOR0-hex}}",
    "brightBlack": "#{{themix_TERMINAL_COLOR8-hex}}",
    "red": "#{{themix_TERMINAL_COLOR1-hex}}",
    "brightRed": "#{{themix_TERMINAL_COLOR9-hex}}",
    "green": "#{{themix_TERMINAL_COLOR2-hex}}",
    "brightGreen": "#{{themix_TERMINAL_COLOR10-hex}}",
    "yellow": "#{{themix_TERMINAL_COLOR3-hex}}",
    "brightYellow": "#{{themix_TERMINAL_COLOR11-hex}}",
    "blue": "#{{themix_TERMINAL_COLOR4-hex}}",
    "brightBlue": "#{{themix_TERMINAL_COLOR12-hex}}",
    "purple": "#{{themix_TERMINAL_COLOR5-hex}}",
    "brightPurple": "#{{themix_TERMINAL_COLOR13-hex}}",
    "cyan": "#{{themix_TERMINAL_COLOR6-hex}}",
    "brightCyan": "#{{themix_TERMINAL_COLOR14-hex}}",
    "white": "#{{themix_TERMINAL_COLOR7-hex}}",
    "brightWhite": "#{{themix_TERMINAL_COLOR15-hex}}",
}
