#               FG              BTN_BG bright less brdark        less da     txt fg               br text              btn fg           txt bg     bg     shadow   sel bg     sel fg     link       visited           alt bg default          tooltip bg  tooltip_fg
[ColorScheme]
  active_colors=#{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_TXT_FG-hex}},           #{{themix_TXT_FG-hex}},           #{{themix_FG-hex}},           #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},            #{{themix_BG-hex}}, #{{themix_FG-hex}},           #{{themix_HDR_BG-hex}},  #{{themix_HDR_FG-hex}}
disabled_colors=#{{themix_INACTIVE_FG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_INACTIVE_TXT_FG-hex}},  #{{themix_INACTIVE_TXT_FG-hex}},  #{{themix_INACTIVE_FG-hex}},  #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_INACTIVE_FG-hex}},   #{{themix_BG-hex}}, #{{themix_INACTIVE_FG-hex}},  #{{themix_HDR_BG-hex}}, #{{themix_INACTIVE_HDR_FG-hex}}
inactive_colors=#{{themix_FG-hex}},          #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_TXT_FG-hex}},           #{{themix_TXT_FG-hex}},           #{{themix_FG-hex}},           #{{themix_TXT_BG-hex}}, #{{themix_BG-hex}}, #{{themix_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},            #{{themix_BG-hex}}, #{{themix_FG-hex}},           #{{themix_HDR_BG-hex}}, #{{themix_HDR_FG-hex}}
